*{

}
#game{
	width: 500px;
	height: 500px;
	border: 1px solid black;
	margin: auto;
	overflow: hidden;
	background-color: gray;
	position:absolute;
}
#block{
	width: 50px;
	height: 50px;
	background-color: red;
	position: absolute;
	animation: fall 2s infinite linear;
	z-index: 3;
}

@keyframes fall{
	0%{top: -50px}
	100%{top:500px}
}

#block2{
	width: 50px;
	height: 50px;
	background-color: lime;
	position: absolute;
	animation: rise 4s infinite linear;
	z-index: 1;
}

@keyframes rise{
	0%{top:500px}
	100%{top:-50px}
}

#character{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 225px;
	left: 225px;
	z-index: 2;
}

#butt1{
	width: 150;
	height: 150;
	background-color: transparent;
	position: absolute;
	top: 175px;
	left: 25px;	
	z-index: 4;
}

#butt2{
	width: 150;
	height: 150;
	background-color: transparent;
	position: absolute;
	top: 175px;
	left: 325px;	
	z-index: 4;
}

#butt3{
	width: 150;
	height: 150;
	background-color: transparent;
	position: absolute;
	top: 325px;
	left: 175px;	
	z-index: 4;
}

#butt4{
	width: 150;
	height: 150;
	background-color: transparent;
	position: absolute;
	top: 25px;
	left: 175px;	
	z-index: 4;
}

button{
	background-color: transparent;
	border-radius:50%;
	height: 100%;
	width: 100%;
	font-size: 50px;
	
}

.img{
	width:100%;
	height:100%;
	}

#backimg{
	width:100%;
	height:100%;
}

#ball{
	width:100%;
	height:100%;
	border-radius: 50%;
}

html{background-color: lightblue;}

#instructions{
	margin-left: 550px;
}



